# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history

# Root build folders (NOT inside games)
/build/
/dist/
node_modules/

# Flutter specific ignores
/utas_pax_demo_flutter/build/
/utas_pax_demo_flutter/.dart_tool/
/utas_pax_demo_flutter/.flutter-plugins
/utas_pax_demo_flutter/.flutter-plugins-dependencies
/utas_pax_demo_flutter/.packages
/utas_pax_demo_flutter/.pub/

# IDE files
.idea/
*.iml
.DS_Store
